.wrapper{
    margin: auto;
    width: 80%;
    padding-top: 10px;
    position: relative;
    min-height: 100vh;
}
.banner{
    width: 100%;
    height: auto;
    background-color: rgb(168, 168, 168);
}
.button{
    padding: 0.2em;
    padding-left: 0.8em;
    padding-right: 0.8em;

}
.button a{
    color: rgb(78, 78, 78);
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-left: 5em;
    padding-right: 5em;
}

.nav-wrapper{
    width: 100%;
    margin: 0;
    background-color: rgb(220, 220, 220);
}

.active {
    color: black;
    text-decoration: dotted;
    background-color: rgb(72, 72, 72);
    
}
.active a{
    color: aliceblue;
}
.title{
    text-align: center;
    color: rgb(58, 58, 58);
    margin-top: 0.5em;
    margin-bottom: 0.1em;
    padding: 0.1em;
}
.padding{
    padding-left: 2%;
    padding-right: 5%;
}
#map { 
    position: relative;
    height: 80%; 
    width: 80%;
    margin: 0 auto;
    min-width: 100%;
}

img{
    width: 100%;
    height: auto;
}
.active{
    color: rgb(116, 42, 34);
    text-decoration:none;
    font-weight: bold;
}

footer{
    position: relative;
    bottom: 0;
    margin-top: 0.9em;
    padding: 0.1em;
    width: 100%;
    color:rgb(211, 211, 211);
    background-color: rgb(75, 75, 75);
    text-align: center;
}

.button:hover {
    background-color: rgb(72, 72, 72);
    transition: all 0.3s ease-in;
    cursor: pointer;
  }

.button:hover a {
    color: aliceblue;
}

#default {
    background-color: rgb(220, 220, 220);
    border: none;
    color: rgb(72, 72, 72);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0.2em;
    margin-left: 0.5em;
    margin-bottom: 0.8em;
    border-radius: 5px;
}

#default:hover {
    background-color: rgb(72, 72, 72);
    color:rgb(220, 220, 220);
    transition: all 0.1s ease-in;
    cursor: pointer;
  }

@media screen and (max-width: 700px) {
    /* For mobile phones: */
    #map {
        height: 50%;
    }
    .wrapper{
        width: 100%;
    }
    nav{
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    .title{font-size: 10px;}
    footer{font-size: 8px;}

}